TSServer/TimeStamping/bin/
TSServer/TimeStamping/obj/
TSServer/LibTimeStamp/bin/
TSServer/LibTimeStamp/obj/
SignTool/bin/
SignTool/obj/
SignTool/Release/
TSWorker/node_modules
TSWorker/wrangler.test.toml
docs/node_modules
*.tsr
.idea/
.idea
TSWorker/.wrangler
